<layout [FooterSilder]="false">


    <!---------------------------------------------- Pages Shared Bannrr Details----------------------->
    <banner [imageSrc]="'../assets/images/headerBg/Factoriesbg.png'" >
       {{'IndustrialDepartments' | translate}}
   </banner>  
   
    <section class="factories-sectors">
       <!--filter side-->
       <aside class="side-menue-filter">
        <form name="form" (ngSubmit)=" onSubmit()" #f="ngForm"  novalidate>
           <div class="input-form-search">
               <input name="subject"  #subject="ngModel"   required  [(ngModel)]="searchTxt" type="text" class="input-form-search__txt big-font-placeholder"  placeholder="{{'Company' | translate}}">
               
               <span class="icon-Icon-Search "></span>
           </div>
           <!-- <div *ngIf="f.submitted && f.submitted  && subject.invalid" class="alert alert-danger">
                <div *ngIf="f.submitted && subject.errors.required">
                    {{'searchArea.searchTxtRequired' | translate}}
                </div>
            </div> -->
   
            <div class="input-form-search" >
               <div class="input-form position-relative mb-1" style="width: 100%;" >
                   <select 
                    class="input-form__select"
                    id="city-name"  
                    name="selectedCity"
                    [(ngModel)]="selectedCities" 
                    (change)="selectCity($event.target.value)"
                    >         
                    <!-- <option value="">Choose oppo suit</option> -->
                       <option  value="" disabled>{{'city' |translate}}</option>
                       <option *ngFor="let city of citiesInfo"  [value]="city.id"  >{{getLang()=='ar'?city.nameAr:city.name}}</option>
                   </select>
                   <span class="icon-Icon-arrow rotate-down black-colored-txt drop-down-arrow small-select-arrow"></span>
               </div>
            </div>
            <!--   <div class="input-form position-relative mb-1">
                   <select  class="input-form__select" id="Factory-sector" >
                       <option value="القطاع">{{'sector' |translate}}</option>
                       <option value="الصناعي">الصناعي</option>
                   </select>
                   <span class="icon-Icon-arrow rotate-down black-colored-txt drop-down-arrow small-select-arrow"></span>
               </div>
           </div>
    -->
           <div class="submit-btn-container w-100  ">
               <button class="btn--search btn--trasnparent btn-txt--black btn--lit-rounded btn-border--black w-100 p-btn" >{{'search' | translate}}</button>
           </div>
   </form>
           <div class="filter-accordion">
               <div class="card">
                 <div class="search-accordion-card-header" id="headingOne">
                     <button class="search-accordion-card-header__btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      {{'IndustrialSector' |translate}}
                     </button>
                     <span class="icon-Icon-arrow  drop-down-arrow"></span>
                 </div>
             
                 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent=".filter-accordion">
                   <div class="card-body">
                       <ul class="search-options-list">
                        <!-- (click)="onSectorSelect($event)" -->
                           <li [routerLink]="['/Factories']"routerLinkActive="active" [queryParams]="{  SectorId:sector.id,lang:language}" queryParamsHandling="perserve" [ngClass]="{'selectedItem': paramsSectorID==sector.id , 'search-option': true}"  *ngFor="let sector of sectorsData">{{getLang()=='ar'?sector.nameAr:sector.name}}</li>
                       </ul>
                   </div>
                 </div>
               </div>
             </div>
   
       </aside>
   

     
   
       <div class="search-results-container" *ngIf="SearchedCompaniesResults && !loading && !NoRes">
           <div class="search-result-card search-result-card--sm" *ngFor="let companyInfo of SearchedCompaniesResults.items">
               <div class="search-result-card-image-container shadow" *ngIf="companyInfo.image">
                   <img class="search-result-card__img" [src]="baseCompanyImageUrl+companyInfo.image" alt="card-img">
               </div>
               <div class="search-result-card-info">
                   <div class="search-result-card-header-container">
                       <h3 class="search-result-card__header" routerLink="/FactoryDetails/{{companyInfo.id}} " queryParamsHandling="merge" style="cursor: pointer;">{{getLang()=='ar'?companyInfo.nameAr:companyInfo.name}}</h3>
                   </div>
                   <div class="search-result-card-details-container">
                       <p class="search-result-card-details__txt">
                           {{getLang()=='ar'? (companyInfo.descriptionAr|slice:0:313) : (companyInfo.description|slice:0:313)}}
                       </p>
                   </div>
                   <div class="search-result-card-contacts-container">
                       <ul class="search-card-contacts-list">
                           <li class="search-card-contact " style="display: flex;align-items: center;"><span class="icon-Icon-telephone contact-icon "></span><span style="direction: ltr;">{{companyInfo.phone}}</span></li>
                           <li class="search-card-contact" title="{{companyInfo.email}}">{{companyInfo.email|slice:0:19}}<span class="icon-Icon-email contact-icon "></span></li>
                           <li class="search-card-contact"style="display: flex;align-items: center;"><span class="icon-Icon-print contact-icon "></span><span style="direction: ltr;">{{companyInfo.fax}}</span></li>
                           <li class="search-card-contact" >{{companyInfo.website}}<span class="icon-Icon-globe contact-icon "></span></li>
                       </ul>
                   </div>
                   <div class="search-reult-card-actions-container">
                       <ul class="search-result-card-actions-list">
                           <li class="search-result-card-action">
                               <button 
                               class="action-btn btn--trasnparent btn-txt--black btn--lit-rounded "
                               (click)="shareId(companyInfo.id)"
                               data-toggle="modal" 
                               data-target="#exampleModal">
                                  {{'share'|translate}}
                               </button>
                           </li>
                           <li class="search-result-card-action"><button routerLink="/FactoryDetails/{{companyInfo.id}}" class="action-btn btn--trasnparent btn-txt--black btn--lit-rounded ">{{'more'|translate}}</button></li>
                       </ul>
                   </div>
               </div>
   
           </div>
   
         
   
         <div class="pagination-container"  *ngIf="LastPage > 0  && !loading && !NoRes">
               <ul class="pagination-list" >
                <li class="last-page" *ngIf="!(searchingObj.pageNumber==0)"  (click)="prev()" [ngStyle]="{transform:getArrowDir()}" ><span class="page-numer__txt"  ><span class="icon-Icon-long-arrow" ></span></span></li>
                   <li class="page-number active"><span clspanss="pspange-numer__txt" >{{SearchedCompanies.pageNumber+1}}</span></li>
                   <!-- <li class="page-number"><span class="page-numer__txt" (click)="getPagedata(endPgNumber)">{{endPgNumber+1}}</span></li> --> 
                   <!-- <li class="page-number  "><a class="page-numer__txt " href="#">3</a></li> -->
                   <li class="last-page" *ngIf="!(((searchingObj.pageNumber)+1)==LastPage)"  (click)="nxt()"><span class="page-numer__txt" ><span class="icon-Icon-long-arrow"></span></span></li>
               </ul> 
           </div>  
       </div>

       <!-- {{'noRes' | translate}}
       ; else elseBlock -->
     <div class="search-results-container loader-spinner" *ngIf="loading  " style="display: flex;justify-content: center;height: 20rem;">
         <img src="../../../assets/images/spinner/spinner.gif" alt="spinner">
     </div> 

     <div class="search-results-container noRes"  *ngIf="NoRes && !loading">
        {{'noRes' | translate}}
     </div>
       <!-- <aside class=" side-menue side-menue--left">
           <div class="side-menue-image-container">
               <img class="side-menue__image" src="../assets/images/aside-header-bg.jpg" alt="aside-bg">
           </div>
           <div class="side-menue-details">
               <div class="side-menue-details-header-container">
                   <h5 class="side-menue__header">القطاعات الصناعيه</h5>
               </div>
               <div class="side-menue-details-body">
                   <p class="side-menue__details">لوريم إيبسوم(Lorem Ipsum)
                        هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) 
                        ويُستخدم في صناعات المطابع  ودور النشر.
                        كان لوريم إيبسوم ولايزال المعيار 
                        للنص الشكلي منذ القرن الخامس عشر 
                        عندما قامت مطبعة مجهولة برص مجموعة من </p>
               </div>
           </div>
       </aside> -->
       <div *ngIf=" Aside  ;else elseAside " >
       <aside *ngIf=" Aside[0] ;else elseAside" style="cursor: pointer;" class=" side-menue side-menue--left" routerLink="/FactoryDetails/{{Aside[0].companyId}}">
        <div class="side-menue-image-container" >
            <img class="side-menue__image"   [src]="baseImageUrl+Aside[0].image"  alt="aside-bg">
        </div>
        <ng-template class="side-menue-image-container" #elseImage>
            <img class="side-menue__image" src="../../../assets/images/broken.png" alt="aside-bg">
        </ng-template>
        <div class="side-menue-details">
            <div class="side-menue-details-header-container">
                <h5 class="side-menue__header">{{getLang()=='ar'?Aside[0].companyNameAr:Aside[0].companyName}}</h5>
            </div>
            <div class="side-menue-details-body">
                <p class="side-menue__details">{{getLang()=='ar'?Aside[0].descriptionAr:Aside[0].description}}</p>
            </div>
        </div>
       </aside>
        </div>
       <ng-template class=" side-menue side-menue--left" #elseAside >
       <div style="width: 10rem;"></div>

       </ng-template>

   </section> 
 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="display: flex; justify-content: space-around;">
            <button 
            mat-fab 
            style="-webkit-appearance: none;
            border: none;
            width: 3rem;
            border-radius: 50%;
            cursor: pointer;
            height: 3rem;
            background: #4267B2;"
            theme="circles-dark" 
            shareButton="facebook"
            data-toggle="modal" 
            data-target="#exampleModal"
            url="http://uaeindustrialgate.ae/FactoryDetails/{{shareMediaId}}">
               <span class="icon-Icon-facebook white-icon"></span>
          </button> 

          <button 
          mat-fab 
          style="-webkit-appearance: none;
          border: none;
          width: 3rem;
          border-radius: 50%;
          cursor: pointer;
          height: 3rem;
          background: #55ACEE;"
          theme="circles-dark" 
          shareButton="twitter"
          data-toggle="modal" 
          data-target="#exampleModal"
          url="http://uaeindustrialgate.ae/FactoryDetails/{{shareMediaId}}">
             <span class="icon-Icon-twitter white-icon"></span>
        </button> 

        <button 
        mat-fab 
        style="-webkit-appearance: none;
        border: none;
        width: 3rem;
        border-radius: 50%;
        cursor: pointer;
        height: 3rem;
        background: rgb(37, 211, 102)"
        theme="circles-dark" 
        shareButton="whatsapp"
        data-toggle="modal" 
        data-target="#exampleModal"
        url="http://uaeindustrialgate.ae/FactoryDetails/{{shareMediaId}}">
           <span class="icon-Icon-whatsapp white-icon"></span>
      </button> 

      <button 
        mat-fab 
        style="-webkit-appearance: none;
        border: none;
        width: 3rem;
        border-radius: 50%;
        cursor: pointer;
        height: 3rem;
        background: #007bb5"
        theme="circles-dark" 
        shareButton="linkedin"
        data-toggle="modal" 
        data-target="#exampleModal"
        url="http://uaeindustrialgate.ae/FactoryDetails/{{shareMediaId}}">
           <span class="icon-Icon-linkedin white-icon"></span>
      </button> 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> 
   </layout>