$primary-color: #0E930E;
$primary-color-hover: rgba(17, 88, 17, 0.986);
$secondary-color: #000000;
$link-color:#5F5F60;
$header-color:#292929;
$paragraph-color:#4D4D4D;
$paragraph-bg-color:#ECECEC;
$paragraph-sec-color:#262323;
$light-grey:#919191;
$secoundry-light-grey:#F3F5F8;
$light-grey-txt:#212121;
$shadow-grey:#D1D1D1;
$light-grey-bg:#ECF0F1;
$dark-grey-txt:#656565;
$light-red:#FF0000;
$shadow-light-grey-bg:#DCDCDC;
$med-grey-txt:#808080;
$light-green:#3CCF5E;
