$primary-color: #0E930E;
$primary-color-hover: rgba(17, 88, 17, 0.986);
$secondary-color: #000000;
$link-color:#5F5F60;
$header-color:#292929;
$paragraph-color:#4D4D4D;
$paragraph-bg-color:#ECECEC;
$paragraph-sec-color:#262323;
$light-grey:#919191;