.white-colored-txt{
color: $white;
}
.black-colored-txt{
    color: $black;
}
.big-font-placeholder{
    font-size: 1rem;
}


.headers-txt{
    font-size: 2rem;
    line-height: 2.438rem;
    font-family: $font-family-bold;
    &--black{
        color:$header-color
    };
    &--green{
        color: $primary-color;
    }
}
.sub-header-txt{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: $font-family-base;
    font-weight: bold;
    &--black{
        color:$header-color
    };
   
}
.section-details{
    font-size: 1.25rem;
    line-height:2.5rem;
    font-family: $font-family-base;
    &--grey{
        color:$paragraph-color
    }
}
.submit-btn-container{
    display: flex;
    justify-content: center;
}
.swiper-pagination-container{
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet{
        margin-left: .5rem;
        width: 0.75rem;
        height: 0.75rem;
    }
    .swiper-pagination-bullet-active{
        background-color: red;
    }
}

