<layout [FooterSilder]="false">
  <!---------------------------------------------- Pages Shared Bannrr Details----------------------->
 <banner [imageSrc]="'../assets/images/c1.jpg'" >
     {{'IndustrialDepartments'|translate}} 
  
 </banner>  
<!-----------------------------------------sixth page Factory Details sector------------------------>
<section class="factory-details">
    <div class="container">
    <div class="row">
        <div class="col">
          <div class="search-result-card search-result-card--md">
            <div class="search-result-card-image-container shadow">
                <img class="search-result-card__img" src="../assets/images/c1.jpg" alt="card-img">
            </div>
            <div class="search-result-card-info" *ngIf="company">
                <div class="search-result-card-header-container" >
                    <h3 class="search-result-card__header">{{getLang()=='ar'?company.nameAr:company.name}}</h3>
                </div>
                <div class="search-result-card-details-container" *ngIf="company">
                    <p class="search-result-card-details__txt">
                        {{getLang()=='ar'?company.descriptionAr:company.description}}
                    </p>
                </div>
                <div class="search-result-card-contacts-container">
                    <ul class="search-card-contacts-list">
                        <li class="search-card-contact ">{{company.phone}}<span class="icon-Icon-telephone contact-icon "></span></li>
                        <li class="search-card-contact">{{company.email}}<span class="icon-Icon-email contact-icon "></span></li>
                        <li class="search-card-contact">{{company.fax}}<span class="icon-Icon-print contact-icon "></span></li>
                        <li class="search-card-contact">{{company.website}}<span class="icon-Icon-globe contact-icon "></span></li>
    
                        
                    </ul>
                </div>
                <div class="address-container">
                    <span class="address-header">{{'companyAddress' | translate}}</span>
                    <span class="address-details"> {{getLang()=='ar'?company.addressAr:company.address}}</span>
                </div>
                <div class="social-container">
                    <span class="address-header">{{'communicationLinks' | translate}}</span>
                    <span class="social-icons-details"> 
                        <ul class="social-icon-list">
                            <li class="social-icon" *ngIf="company.google"><a [href]='company.google' class="social-action"><span class="icon-Icon-linkedin "></span></a></li>
                            <!-- <li class="social-icon"><a  class="social-action"><span class="icon-Icon-Gmail"></span></a></li> -->
                            <li class="social-icon" *ngIf="company.facebook"><a [href]='company.facebook' class="social-action"><span class="icon-Icon-facebook"></span></a></li>
                            <li class="social-icon" *ngIf="company.youTube"><a [href]='company.youTube' class="social-action"><span class="icon-Icon-youtube"></span></a></li>
                            <li class="social-icon" *ngIf="company.twitter"><a [href]='company.twitter' class="social-action"><span class="icon-Icon-twitter"></span></a></li>
                            <li class="social-icon" *ngIf="company.instagram"><a [href]='company.instagram' class="social-action"><span class="icon-Icon-instagram"></span></a></li>
                            <li class="social-icon" *ngIf="company.snapChat"><a [href]='company.snapChat' class="social-action"><span class="icon-Icon-snapchat"></span></a></li>




                        </ul>
                    </span>
                </div>
                <!-- <div class="search-reult-card-actions-container">
                    <ul class="search-result-card-actions-list">
                        <li class="search-result-card-action">
                            <button class="action-btn btn--trasnparent btn-txt--black btn--lit-rounded ">
                                مشاركه 
                            </button>
                        </li>
                        <li class="search-result-card-action"><button class="action-btn btn--trasnparent btn-txt--black btn--lit-rounded ">المزيد</button></li>
                    </ul>
                </div> -->
            </div>
          </div> 
          
          <div class="factory-details-container">
              <div class="personal-details-container">

                  <div class="person-details-box">
                      <div class="person-contact-header-container">
                          <h3 class="person__contact-header"> {{'CommercialCommunication'| translate}}</h3>
                      </div>
                    <div class="person-image-container">
                        <img class="person__img" src="../assets/images/c1.jpg" alt="person">
                    </div>
                    <div class="person-name-container" *ngIf="company">
                        <h4 class="person__name" *ngIf="company.communicationOfficerNameAr  && company.communicationOfficerName">{{getLang()=='ar'?company.communicationOfficerNameAr:company.communicationOfficerName}}</h4>
                    </div>
                    <div class="person-title-container" *ngIf="company" >
                        <h5 class="person__title" *ngIf="company.communicationOfficerPositionAr && company.communicationOfficerPosition"  >{{getLang()=='ar'?company.communicationOfficerPositionAr:company.communicationOfficerPosition}}</h5>
                    </div>

                    <div class="person-contacts-container" *ngIf="company">
                        <h5 class="person__contact" *ngIf="company.communicationOfficerPhone"><span class="icon-Icon-phone-alt person-contacts__icon"></span>{{company.communicationOfficerPhone}}</h5>
                        <h5 class="person__contact" *ngIf="company.communicationOfficerEmail"><span class="icon-Icon-email person-contacts__icon"></span>{{company.communicationOfficerEmail}}</h5>

                    </div>
                    
                  </div>



                  <div class="branches-box">
                    <div class="branch-txt-container">
                        <h3 class="branch__txt"> {{'branches'|translate}}</h3>
                    </div>
                    <ul class="branches-info-container">

                        <li class="branch-info">
                            <div class="branch-name-container">
                                <h3 class="branch__name">مصنع الدوحة للكابلات</h3>
                            </div>
                            <div class="branch-address-container">
                                <h4 class="branch__address">مجمع ام اى سى</h4>
                            </div>
                            <div class="branch-contact-number-container">
                                <h4 class="branch__number"><span class="icon-Icon-phone-alt"></span> +974-40339503</h4>
                            </div>
                        </li>
                        
                        <li class="branch-info">
                            <div class="branch-name-container">
                                <h3 class="branch__name">مصنع الدوحة للكابلات</h3>
                            </div>
                            <div class="branch-address-container">
                                <h4 class="branch__address">مجمع ام اى سى</h4>
                            </div>
                            <div class="branch-contact-number-container">
                                <h4 class="branch__number"><span class="icon-Icon-phone-alt"></span> +974-40339503</h4>
                            </div>
                        </li>
                    </ul>
                  </div>
              </div>

             <div class="products-catalog-container">
                  <div class="product-catalog-header-container">
                      <h3 class="product-catalog-header__txt">{{'productsCatalog' | translate}}</h3>
                    </div>
                    <catalog-slider></catalog-slider>
                     <div class="category-details-container">
                        <div class="category-details">
                            <h4 class="category-details__txt">
                                كابلات الطاقة:الكابلات المرنة،الاسلاك المستخدمة فى المبانى،الاسلاك الارضية، كابلات الطاقة ذات الجهد المنخفض، كابلات طاقة متوسطة وكبيرة وعالية الجهد
                            </h4>
                        </div>
                        <div class="category-details">
                            <h4 class="category-details__txt">
                                كابلات التحكم
                            </h4>
                        </div>
                        <div class="category-details">
                            <h4 class="category-details__txt">
                                كابلات الطاقة للتطبيقات الخاصة LSHF أسلاك وكابلات ، كابلات مقاومة للحريق
                            </h4>
                        </div>
                        <div class="category-details">
                            <h4 class="category-details__txt">
                                كابلات الالياف الضوئية: ذات النوع الاحادى والالياف ذات الالياف المتعددة
                            </h4>
                        </div>
                    </div>  
              </div> 
          </div>
  <br> 
<br>
          <div class="video-container" style="height: 35vw;">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/pGqPjYALB50"
             frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
          </div> 
        </div>  
    </div>     
    </div>
</section>

</layout>
