<layout [FooterSilder]="false">
  <!---------------------------------------------- Pages Shared Bannrr Details----------------------->
 <banner [imageSrc]="'../assets/images/c1.jpg'" >
     {{'IndustrialDepartments'|translate}} 
  
 </banner>  
<!-----------------------------------------sixth page Factory Details sector------------------------>
<section class="factory-details">
    <div class="container" *ngIf="company">
    <div class="row">
        <div class="col">
          <div class="search-result-card search-result-card--md">
            <div class="search-result-card-image-container shadow">
                <img class="search-result-card__img" [src]='baseImageurl+company.image' alt="card-img">
            </div>
            <div class="search-result-card-info" *ngIf="company">
                <div class="search-result-card-header-container" >
                    <h3 class="search-result-card__header">{{getLang()=='ar'?company.nameAr:company.name}}</h3>
                </div>
                <div class="search-result-card-details-container" *ngIf="company">
                    <p class="search-result-card-details__txt" 
                    title="{{getLang()=='ar'?company.descriptionAr:company.description}}">
                        {{getLang()=='ar'?(company.descriptionAr |slice:0:500):(company.description|slice:0:500)}}
                    </p>
                </div>
                <div class="search-result-card-contacts-container">
                    <ul class="search-card-contacts-list">
                        <li class="search-card-contact ">{{company.phone}}<span class="icon-Icon-telephone contact-icon "></span></li>
                        <li class="search-card-contact" title={{company.email}}>{{company.email|slice:0:19}}<span class="icon-Icon-email contact-icon "></span></li>
                        <li class="search-card-contact">{{company.fax}}<span class="icon-Icon-print contact-icon "></span></li>
                        <li class="search-card-contact" title="{{company.website}}">{{company.website|slice:0:19}}<span class="icon-Icon-globe contact-icon "></span></li>
    
                        
                    </ul>
                </div>
                <div class="address-container">
                    <span class="address-header">{{'companyAddress' | translate}}</span>
                    <span class="address-details"> {{getLang()=='ar'?company.addressAr:company.address}}</span>
                </div>
                <div class="social-container">
                    <span class="address-header">{{'communicationLinks' | translate}}</span>
                    <span class="social-icons-details"> 
                        <ul class="social-icon-list">
                            <li class="social-icon" *ngIf="company.google"><a [href]='company.google' class="social-action"><span class="icon-Icon-linkedin "></span></a></li>
                            <!-- <li class="social-icon"><a  class="social-action"><span class="icon-Icon-Gmail"></span></a></li> -->
                            <li class="social-icon" *ngIf="company.facebook"><a [href]='company.facebook' class="social-action"><span class="icon-Icon-facebook"></span></a></li>
                            <li class="social-icon" *ngIf="company.youTube"><a [href]='company.youTube' class="social-action"><span class="icon-Icon-youtube"></span></a></li>
                            <li class="social-icon" *ngIf="company.twitter"><a [href]='company.twitter' class="social-action"><span class="icon-Icon-twitter"></span></a></li>
                            <li class="social-icon" *ngIf="company.instagram"><a [href]='company.instagram' class="social-action"><span class="icon-Icon-instagram"></span></a></li>
                            <li class="social-icon" *ngIf="company.snapChat"><a [href]='company.snapChat' class="social-action"><span class="icon-Icon-snapchat"></span></a></li>




                        </ul>
                    </span>
                </div>
                <!-- <div class="search-reult-card-actions-container">
                    <ul class="search-result-card-actions-list">
                        <li class="search-result-card-action">
                            <button class="action-btn btn--trasnparent btn-txt--black btn--lit-rounded ">
                                مشاركه 
                            </button>
                        </li>
                        <li class="search-result-card-action"><button class="action-btn btn--trasnparent btn-txt--black btn--lit-rounded ">المزيد</button></li>
                    </ul>
                </div> -->
            </div>
          </div> 
          
          <div class="factory-details-container">
              <div class="personal-details-container">

                  <div class="person-details-box">
                      <div class="person-contact-header-container">
                          <h3 class="person__contact-header"> {{'CommercialCommunication'| translate}}</h3>
                      </div>
                    <div class="person-image-container">
                        <img class="person__img" src="../assets/images/c1.jpg" alt="person">
                    </div>
                    <div class="person-name-container" *ngIf="company">
                        <h4 class="person__name" *ngIf="company.communicationOfficerNameAr  && company.communicationOfficerName">{{getLang()=='ar'?company.communicationOfficerNameAr:company.communicationOfficerName}}</h4>
                    </div>
                    <div class="person-title-container" *ngIf="company" >
                        <h5 class="person__title" *ngIf="company.communicationOfficerPositionAr && company.communicationOfficerPosition"  >{{getLang()=='ar'?company.communicationOfficerPositionAr:company.communicationOfficerPosition}}</h5>
                    </div>

                    <div class="person-contacts-container" *ngIf="company">
                        <h5 class="person__contact" *ngIf="company.communicationOfficerPhone"><span class="icon-Icon-phone-alt person-contacts__icon"></span>{{company.communicationOfficerPhone}}</h5>
                        <h5 class="person__contact" *ngIf="company.communicationOfficerEmail"><span class="icon-Icon-email person-contacts__icon"></span>{{company.communicationOfficerEmail}}</h5>

                    </div>
                    
                  </div>



                  <div class="branches-box">
                    <div class="branch-txt-container">
                        <h3 class="branch__txt"> {{'branches'|translate}}</h3>
                    </div>
                    <ul class="branches-info-container" *ngIf="company.branches.length>0">

                        <li class="branch-info" *ngFor="let branchInfo of company.branches">
                            <div class="branch-name-container">
                                <h3 class="branch__name">{{getLang()=='ar'?branchInfo.nameAr:branchInfo.name}}</h3>
                            </div>
                            <div class="branch-address-container">
                                <h4 class="branch__address">{{getLang()=='ar'?branchInfo.addressAr:branchInfo.name}}</h4>
                            </div>
                            <div class="branch-contact-number-container">
                                <h4 class="branch__number"><span class="icon-Icon-phone-alt"></span> {{branchInfo.phone}}</h4>
                            </div>
                        </li>
                        
                        
                    </ul>
                  </div>
              </div>

             <div class="products-catalog-container">
                  <div class="product-catalog-header-container">
                      <h3 class="product-catalog-header__txt">{{'productsCatalog' | translate}}</h3>
                    </div>
                    <catalog-slider *ngIf="company.products.length>0"></catalog-slider>
                     <div class="category-details-container" *ngIf="company.companyProductNames">
                        <div class="category-details" *ngFor="let product of company.companyProductNames">
                            <h4 class="category-details__txt" >
                                {{getLang()=='ar'?product.nameAr:product.name}}
                            </h4>
                        </div>

                    </div>  
              </div> 
          </div>
  <br> 
<br>

<div class="video-container" style="height: 35vw; " *ngIf="company.youTubeVideoUrl">
    <div  [innerHtml]="youTubeVideo"></div>
</div>
<div class="video-container" style="height: 35vw; " *ngIf="company.mapFrameUrl">
    <div  [innerHtml]="mapIfram"> </div>
</div>


          <!-- <div class="video-container" style="height: 35vw;" *ngIf="company.youTubeVideoUrl">
            
             <iframe width="100%" height="100%" [src]="getSantizeUrl('https://www.youtube.com/embed/yg8116aeD7E')"
             frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
             

             
          </div> -->

          <!-- <div class="video" >
            </div> -->
        </div>  
    </div>     
    </div>
</section>

</layout>
