$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Icon-share: "\e904";
$icon-Icon-fax: "\e900";
$icon-Icon-globe: "\e901";
$icon-Icon-phone-alt: "\e902";
$icon-Icon-snapchat: "\e903";
$icon-Icon-arrow: "\e905";
$icon-Icon-ionic-ios-arrow-dropdown-path1: "\e906";
$icon-Icon-ionic-ios-arrow-dropdown-path2: "\e907";
$icon-Icon-long-arrow: "\e908";
$icon-Icon-heart: "\e909";
$icon-Icon-whatsapp: "\e90a";
$icon-Icon-email: "\e90b";
$icon-Icon-print: "\e90c";
$icon-Icon-linkedin: "\e90d";
$icon-Icon-instagram: "\e90e";
$icon-Icon-shadow-instagram: "\e90f";
$icon-Icon-facebook: "\e910";
$icon-Icon-twitter: "\e911";
$icon-Icon-Gmail: "\e912";
$icon-Icon-telephone: "\e913";
$icon-Icon-env: "\e914";
$icon-Icon-Search: "\e915";
$icon-Icon-youtube: "\e916";

