
/*******************************Generals in home page***************************************/
.section-header-container{
    display: flex;
    justify-content: center;
}

.custom-line{
    width: 71rem;
    border-top: 2px solid #5f5f6066;;
}


/**********************************Sections in home page **********************************/
//--------banner section-------------//
.home-banner{
    position: relative;
    //height: 100%;
    height: 47.5rem;
    background-color: grey;

}
//----------About portal Section------//
.about-portal{
    width: 100%;
    height: 56.5vw;
    margin-bottom: 1rem;
    padding-top: 4.375rem;
    overflow: hidden;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        height: 100%;
        width: 103%;
        background:  url('../images/section-bg.svg') bottom center;
        background-size: 100%;
        background-repeat: no-repeat !important;
        background-image: -.5rem;
        background-position-x: -1rem;
    }
    &-image-container{
        width: 35.5rem;
        height: 33.438rem;
        border-radius: 2%;
        .about-portal-image{
            border-radius: 2%;
            width: 100%;
            height: 100%;
        }
    }
    .section-header-container{
        margin-bottom:2rem ;
    }
    .section-sub-header-container{
        padding-top:2.75rem ;
        padding-bottom: 1.813rem;
    }
    .info-section{
        padding-#{$default-float}:2.188rem;
    }
    .read-more-container{
        display: flex;
        justify-content: center;
        .read-more{
            padding-left:5.75rem;
            padding-right: 5.75rem;
            padding-top:0.938rem;
            padding-bottom: 0.938rem;
            font-size: 1.25rem;
            font-family: $font-family-base;
            font-weight: bold;
            text-decoration: none;
            transition: .5s;
            line-height: 1;
            border:3px solid $primary-color;
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                display: block;
                background: $primary-color;
                position: absolute;
                width:200% ;
                height: 500%;
                transform: translate(-120%, -50%) translateZ(0);
                z-index: -1;
                border-radius: 100%;
                transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
    
            }
            &:hover{
                border: solid  $primary-color !important;
                color: white;
                &:before {
                transform: translate(33%, -34%) translateZ(0);
                @if($lang==en){
                    transform: translate(-33%, -34%) translateZ(0);
            
                    }
            }
        }
        }
    }
    
}

//---------Industrial Section --------//

.industrial-sector{
    display: flex;
    justify-content: space-between;
    position: relative;
    &__header-txt{
        font-size: 2rem;
        margin-bottom: 0;
        font-family:$font-family-base ;
        color:$secondary-color ;
        padding-top: 2.063rem;
        padding-bottom: 3.5rem;
        line-height: 2.438rem;
    }
    &:after{
        content: '';
        display: block;
        background:url('../images/home-slider-bg1.svg') ;
        height: 44.313rem;
        width: 47vw;
        position: absolute;
        #{$opposite-float}: 0;
        z-index: -5;
        background-repeat: no-repeat;
        top: 4rem;
        background-size: cover;
        @if($lang==en){
        
            transform: scalex(-1);
        }

    }
    &::before{
        content: '';
        display: block;
        background:url('../images/home-slider-bg-2.svg') ;
        height: 21.9vw;
        width: 41vw;
        position: absolute;
        #{$default-float}: 0;
        z-index: -5;
        background-repeat: no-repeat;
        top: -2rem;
        background-size: cover;
        @if($lang==en){
        
            transform: scalex(-1);
        }

    }
}
.industrial-sector-details{
    width: 50rem ;
    position: relative;
}




/*********************RESPONSIVE*********************/
@media (max-width:1200px) {
    .home-banner{
        height: 54vw;
    }
    .industrial-sector{
        justify-content: center ;
    }
   hr{
       display: none;
   }

   .about-portal{
    background: #dee0eb;
    margin-top: 4rem;
    height: 100%;
    padding-bottom: 1rem;
    &-image-container {
        width: auto;
        height: auto;
    }
   }
   .container {
    max-width: auto;
    }
}