.factories-sectors{
    display: flex;
    justify-content: space-between;
    padding-#{$default-float}: 7.188rem;
}

.side-menue-filter{
    width: 16.563rem;
}

.accordion-search{
    margin-top: 1.063rem;
}