<div class="home-banner">

    <ngb-carousel  class="bs-big-carousel">

        <ng-template ngbSlide *ngFor="let slide of Slides">
        <div class="picsum-img-wrapper">
            <img  [src] = "baseUrl+slide.image" alt=" slide" class="big-carousel-image">
        </div>
        <div class="carousel-caption centered-caption">
            <h3 class="caption-header">{{getLang()=='ar'?slide.titleAr:slide.title}}</h3>
            <p class="caption-pagraph">{{getLang()=='ar'?slide.descriptionAr:slide.description}}</p>
                <button  class="btn--trasnparent btn-txt--white btn--lit-rounded btn--main create-factory-btn">
                    اضف مصنعك الان </button>
        </div>
        </ng-template>

    
    </ngb-carousel>

    <div class="search-input">
        <input type="text" placeholder="{{'search' | translate}}" class="search-input-field">
        <button  class="search-btn"><span class="icon-Icon-Search"></span></button>
    </div>
</div>
  