<!--Footer-->
<footer>
    <!--slider-->
   
    <footer-slider *ngIf="ShowFooterSlider"></footer-slider>
    <!--fixed backgroud-->
    <div class="footer--bg"></div>
   <!--footer logo-->
   <hr class="custom-line" *ngIf="ShowFooterSlider">
    <div class="footer-logo-container ">
        <img src="../assets/images/Footer-logo.png" class="footer-logo">
    </div>
    <!--Footer Site map -->
    <div class="site-map-container ">
        <ul class="site-map-list">
            <li class="site-map-tab"><a routerLink="/">{{'homePage' | translate}}</a></li>
            <li class="site-map-tab"><a routerLink="/About">{{'About' | translate}} </a></li>
            <li class="site-map-tab"><a routerLink="/Factories">{{'IndustrialDepartments' | translate}}</a></li>
            <!-- <li class="site-map-tab"><a href="#">{{'sponsors' | translate}}</a></li> -->
            <li class="site-map-tab"><a routerLink="/AddFactory">{{'AddFactory' | translate}}</a></li>
            <li class="site-map-tab"><a routerLink="/ContactUs">{{'ContactUs'| translate}}</a></li>
        </ul>
    </div> 
    <!--Footer Contact info-->
     <div class="contacts-container" *ngIf="FooterInfo">
        <ul class="contacts-list">
            <li class="contact-link" style="display: flex;align-items: center;justify-content: center;"><span class="contact-icon icon-Icon-globe"></span><span style="direction: ltr">{{getLang()=='ar'?FooterInfo.addressAr:FooterInfo.address}}</span></li>
            <li class="contact-link" style="display: flex;align-items: center;justify-content: center;"><span class="contact-icon icon-Icon-phone-alt"></span><span style="direction: ltr">{{FooterInfo.phone}} </span> </li>
            <li class="contact-link" style="display: flex;align-items: center;justify-content: center;"><span class="contact-icon icon-Icon-env"></span><span style="direction: ltr">{{FooterInfo.email}}</span></li>
            <li class="contact-link" style="display: flex;align-items: center;justify-content: center;"><span class="contact-icon icon-Icon-whatsapp"></span><span style="direction: ltr;">{{FooterInfo.whatsUp}}</span></li>

            
        </ul>
    </div>
    <!--social-media icons-->
     <div class="socialMedia-container" *ngIf="FooterInfo">
        <ul class="socialMedia-list">
            <li class="socialMedia-icon"><a [href]='FooterInfo.instagram' target="blank" style="text-decoration: none;"><span  class="icon-Icon-instagram"></span></a></li>
            <li class="socialMedia-icon"><a [href]='FooterInfo.facebook' target="blank" style="text-decoration: none;"><span class="icon-Icon-facebook"></span></a></li>
            <li class="socialMedia-icon"><a [href]='FooterInfo.twitter' target="blank" style="text-decoration: none;"><span class="icon-Icon-twitter"></span></a></li>
            <li class="socialMedia-icon"><a [href]='FooterInfo.youTube' target="blank" style="text-decoration: none;"><span class="icon-Icon-youtube"></span></a></li>
            <li class="socialMedia-icon"><a [href]='FooterInfo.google' target="blank" style="text-decoration: none;"><span class="icon-Icon-Gmail"></span></a></li>

        </ul>
    </div>
    <!--copyRight-->
     <div class="copy-rights-container">
        <span class="copy-rihts-txt">{{'copyRights' | translate}} </span>
    </div>
</footer> 