
  
  <div class="swiper-container industries-slider" dir="rtl">
        <div class="swiper-wrapper">
           
        <div class="swiper-slide" *ngFor="let slide of Slides">
            <div class="swiper-card">
                <div class="swiper-card-image-container">
                    <img class="swiper-card__img" src="../../assets/images/test images/s1.png" [src] = "baseUrl+slide.image">
                </div>
                <div class="swiper-card-details-container">
                    <p class="swiper-card-details__txt">{{getLang()=='ar'?slide.nameAr:slide.name}}</p>
                </div>
            </div>
        </div>
       
        </div>

    </div>
    <div class="swiper-button-prev swiper-button-white muilt-row-slider-prev"></div>
    <div class="swiper-button-next swiper-button-white  muilt-row-slider-next"></div>
