
<layout [FooterSilder]="false">

 
 <!---------------------------------------------- Pages Shared Bannrr Details----------------------->
 <banner [imageSrc]="'../assets/images/c1.jpg'" >
    {{'aboutPortal' | translate }}
</banner>

<!-----------------------------------------------Secound Page Details------------------------->

<!--Made in UAE info section-->
<section class="site-guide">
    <div class="container" *ngIf="AboutUs">
        <div class="row">
            <div class="uae-info-header-container">
                <h3 class="uae-info-header-txt">{{getLang()=='ar'?AboutUs.nameAr:AboutUs.name}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 uae-info-section">
             
               <div class="uae-info-paragraph-container" [innerHTML]="getLang()=='ar'?AboutUs.descriptionAr:AboutUs.description">
                   <!-- <p class="uae-info-paragraph-txt">
                    {{getLang()=='ar'?AboutUs.descriptionAr:AboutUs.description}}
                    </p> -->
               </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="uae-info-paragraph-img-container">
                    <img src="../assets/images/about-bg.png" class="uae-info-paragraph-img"alt="site-guide-background">
                </div>
            </div>
        </div>
    </div>
</section> 

</layout>