<!-- <app-navbar></app-navbar> -->
<layout [FooterSilder]="true">
  <!--slider-->
  <slides-carousel></slides-carousel> 

  <!--industrial-section-->
  <section class="industrial-sector" *ngIf="Aside" >
    <aside class=" side-menue side-menue--right">
        <div class="side-menue-image-container">
            <img class="side-menue__image" src="../assets/images/aside-header-bg.jpg" alt="aside-bg">
        </div>
        <div class="side-menue-details">
            <div class="side-menue-details-header-container">
                <h5 class="side-menue__header">{{getLang()=='ar'?Aside[0].companyNameAr:Aside[0].companyName}}</h5>
                
            </div>
            <div class="side-menue-details-body">
                <p class="side-menue__details">لوريم إيبسوم(Lorem Ipsum)
                     هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) 
                     ويُستخدم في صناعات المطابع  ودور النشر.
                     كان لوريم إيبسوم ولايزال المعيار 
                     للنص الشكلي منذ القرن الخامس عشر 
                     عندما قامت مطبعة مجهولة برص مجموعة من </p>
            </div>
        </div>
    </aside>


    <div class="industrial-sector-details" >
        <div class="industrial-sector-header-container">
            <h3 class="industrial-sector__header-txt">{{'IndustrialDepartments' | translate}}</h3>
        </div>
        <muilt-rows-slider></muilt-rows-slider>
    </div>

    <aside class=" side-menue side-menue--left" *ngIf="Aside">
        <div class="side-menue-image-container">
            <img class="side-menue__image" src="../assets/images/aside-header-bg.jpg" alt="aside-bg">
        </div>
        <div class="side-menue-details">
            <div class="side-menue-details-header-container">
                <h5 class="side-menue__header">{{getLang()=='ar'?Aside[1].companyNameAr:Aside[1].companyName}}</h5>
            </div>
            <div class="side-menue-details-body">
                <p class="side-menue__details">لوريم إيبسوم(Lorem Ipsum)
                     هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) 
                     ويُستخدم في صناعات المطابع  ودور النشر.
                     كان لوريم إيبسوم ولايزال المعيار 
                     للنص الشكلي منذ القرن الخامس عشر 
                     عندما قامت مطبعة مجهولة برص مجموعة من </p>
            </div>
        </div>
    </aside>
</section> 

<!--about Section -->
 <section class="about-portal">
   <div class="section-header-container ">
    <h3 class="headers-txt headers-txt--green mb-0">{{'About' | translate}}</h3>
   </div>
   <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12" *ngIf="AboutUs">
            <div class="about-portal-image-container ">
                <img class="about-portal-image" [src]="baseImageUrl+AboutUs.image" >
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 info-section" *ngIf="AboutUs">
            <div class="section-sub-header-container">
                <h4 class="sub-header-txt sub-header-txt--black mb-0">{{getLang()=='ar'?AboutUs.nameAr:AboutUs.name}}</h4>
            </div>
                <p class="section-details section-details--grey" [innerHTML]="getLang()=='ar'?AboutUs.descriptionAr:AboutUs.description|slice:0:500">
                    
                </p>
                <div class="read-more-container">
                    <button routerLink="/About"  class="btn--trasnparent btn-txt--green btn--lit-rounded read-more read-more-btn" style="cursor: pointer;">{{'more'|translate}}</button>
                </div>
             
        </div>
    </div> 
    </div>
</section>
<!--sponsers banner section-->
<section class="section-header-container">
    <h3 class="headers-txt headers-txt--black">{{'sponsors' | translate}}</h3>
</section>
</layout>
 
 