<section class="Ca-slide-block" >
    <div class="catalog-swiper-container" dir="rtl">
      <ul class="swiper-wrapper Ca-slide_list" >
        <li *ngFor="let catalog of companyDetails.products" class="swiper-slide Ca-slide_item" data-swiper-autoplay="1500" data-swiper-slide-index="0">
          <!--data-swiper-autoplay -->
          <div class="Ca-slide-item-image-container shadow">
           <img [src]="baseUrl+catalog.image" class="Ca-slide_img" alt="">
          </div>
        </li>
       
      
     
      </ul>
    </div>
    <div class="swiper-btns-wrapperr">
        <div class="Ca-swiper-button-next swiper-button-next swiper-button-white "></div>
        <div class="Ca-swiper-button-prev swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-pagination-container">
        <div class="swiper-pagination"></div>
    </div>
  </section>