<nav class="nav-bar">
  <div class="container top-nav"> 
      <div class="logo-container"> 
      <img class="logo-img" src="../assets/images/Logo.png" alt="logo">
  </div>
<ul class="nav-tabs-container">
    <li class="nav-tab active"><a href="#"> الصفحةالرئيسية</a></li>
    <li class="nav-tab "><a href="#">عن البوابة</a> </li>
    <li class="nav-tab "><a href="#">الاقسام الصناعية</a><span class="icon-Icon-arrow rotate-down white-colored-txt drop-down-arrow"></span></li>
    <li class="nav-tab "><a href="#">الرعاة المشاركون</a></li>
    <li class="nav-tab "><a href="#">اضف مصنعك</a></li>
    <li class="nav-tab "><a href="#">اتصل بنا</a></li>
</ul>
<button class="btn--rounded btn-fill--white btn-txt--black border-0 lang-switcher">English</button>
</div>
</nav>
<div class="dummy" style="display: block;height: 40rem;"></div>
<footer>
    <!--fixed backgroud-->
    <div class="footer--bg"></div>
   <!--footer logo-->
    <div class="footer-logo-container ">
        <img src="../assets/images/Logo.png" class="footer-logo">
    </div>
    <!--Footer Site map -->
    <div class="site-map-container ">
        <ul class="site-map-list">
            <li class="site-map-tab"><a href="#">الصفحة الرئيسية</a></li>
            <li class="site-map-tab"><a href="#">عن البوابة </a></li>
            <li class="site-map-tab"><a href="#">الاقسام الصناعية</a></li>
            <li class="site-map-tab"><a href="#">الرعاة المشاركون</a></li>
            <li class="site-map-tab"><a href="#">اضف مصنعك</a></li>
            <li class="site-map-tab"><a href="#">اتصل بنا </a></li>
        </ul>
    </div>
    <!--Footer Contact info-->
    <div class="contacts-container">
        <ul class="contacts-list">
            <li class="contact-link"> <span class="icon-Icon-whatsapp"> </span>+974-55754954</li>
            <li class="contact-link"><span class="icon-Icon-fax"></span>+974-55754954 </li>
            <li class="contact-link"></li>
            <li class="contact-link"></li>
        </ul>
    </div>
</footer>