<div class="home-banner">

    <ngb-carousel *ngIf="images" class="bs-big-carousel">

        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/images/c1.jpg" alt="Random first slide" class="big-carousel-image">
        </div>
        <div class="carousel-caption centered-caption">
            <h3 class="caption-header">ابنى مصنعك مع فريق كبير</h3>
            <p class="caption-pagraph">شكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على 
                هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني.</p>
                <a href="#" class="btn--trasnparent btn-txt--white btn--lit-rounded btn--main create-factory-btn">اضف مصنعك الان </a>
        </div>
        </ng-template>

        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/images/c2.jpg" alt="Random second slide" class="big-carousel-image">
        </div>
        <div class="carousel-caption centered-caption">
            <h3 class="caption-header">ابنى مصنعك مع فريق كبير</h3>
            <p class="caption-pagraph">شكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على 
                هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني.</p>
                <a href="#" class="btn--trasnparent btn-txt--white btn--lit-rounded btn--main create-factory-btn">اضف مصنعك الان </a>

        </div>
        </ng-template>

        <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/images/c3.png" alt="Random third slide" class="big-carousel-image">
        </div>
        <div class="carousel-caption centered-caption">
            <h3 class="caption-header">ابنى مصنعك مع فريق كبير</h3>
            <p class="caption-pagraph">شكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على 
                هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني.</p>
                <a href="#" class="btn--trasnparent btn-txt--white btn--lit-rounded btn--main create-factory-btn">اضف مصنعك الان </a>

        </div>
        </ng-template>
    
    </ngb-carousel>

    <div class="search-input">
        <input type="text" placeholder="بحث" class="search-input-field">
        <button  class="search-btn"><span class="icon-Icon-Search"></span></button>
    </div>
</div>
  