<layout [FooterSilder]="false">

<!---------------------------------------------- Pages Shared Bannrr Details----------------------->
<banner [imageSrc]="'../assets/images/c1.jpg'" >
    {{'ContactUs' | translate}}
</banner>


<!--Contact Us Form-->
<section class="Contact-us">
    <div class="container">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
        <div class="row">
            <div class="col"> 
                 <!-- الاسم-->
                  <div class="input-form">
                    <label class="input-form__label" for="name-arabic">
                        {{'contactUs.name' | translate}}
                    </label>
                    <input minlength="4" type="text" name="name"  #name="ngModel"   required  [(ngModel)]="client.fullName" class="input-form__txt" id="name-arabic" placeholder="{{'contactUs.fullName' | translate}}">
                    <div *ngIf=" f.submitted && name.invalid " class="alert alert-danger">
                            <div *ngIf="f.submitted && name.errors.required">
                                {{'contactUs.NameIsRequired' | translate}}
                            </div>
                            <div *ngIf="f.submitted && name.errors.minlength">
                                {{'contactUs.NameTooShort' | translate}}
                            </div>
                        </div>
                        
                </div> 

                <!--البريد الالكترونى-->
                <div class="input-form">
                    <label class="input-form__label" for="contact-email">
                       {{'contactUs.email' | translate}}
                    </label>
                    <input type="text" name="email"  #email="ngModel" email  required  [(ngModel)]="client.email" class="input-form__txt" id="contact-email" placeholder="{{'contactUs.email' | translate}}">
                        <div *ngIf="f.submitted && email.invalid" class="alert alert-danger">
                            <div *ngIf="f.submitted && email.errors.required">
                                {{'contactUs.EmailIsRequired' | translate}}
                            </div>
                            <div *ngIf="f.submitted && email.errors.email">{{'contactUs.EmailIsWrong' | translate}}</div>
                        </div>
                       
                </div> 

                <!--عنوان الموضوع-->
               <div class="input-form">
                    <label class="input-form__label" for="contact-subject">
                       {{'contactUs.subject'|translate}}
                    </label>
                    <input type="text" name="subject"  #subject="ngModel" minlength="6"   required  [(ngModel)]="client.subject" class="input-form__txt" id="contact-subject" placeholder="{{'contactUs.subject'|translate}}">
                    <div *ngIf="f.submitted && f.submitted  && subject.invalid" class="alert alert-danger">
                        <div *ngIf="f.submitted && subject.errors.required">
                            {{'contactUs.SubjectIsRequired' | translate}}
                        </div>
                        <div *ngIf="f.submitted && subject.errors.minlength">
                            {{'contactUs.MessageTooShort' | translate}}
                        </div>
                    </div>
                </div> 

                <!--الرسالة-->
                 <div class="input-form">
                    <label class="input-form__label" for="contact-message">
                        {{'contactUs.message' | translate}}
                    </label>
                    <textarea type="text" name="message"  #message="ngModel"  minlength="6" required  [(ngModel)]="client.body" class="input-form__txt" id="contact-message" placeholder="{{'contactUs.message' | translate}}"></textarea>
                    <div *ngIf="f.submitted && message.invalid" class="alert alert-danger">
                        <div *ngIf="f.submitted && message.errors.required">
                            {{'contactUs.MessageIsReuierd' | translate}}
                        </div>
                        <div *ngIf="f.submitted && message.errors.minlength">
                            {{'contactUs.MessageTooShort' | translate}}

                        </div>
                    </div>
                </div> 

             </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="submit-btn-container">
                    <button class="btn--submit btn--trasnparent btn-txt--green btn--lit-rounded p-btn" >{{'contactUs.send' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</section> 


</layout>