<layout [FooterSilder]="false">

<!---------------------------------------------- Pages Shared Bannrr Details----------------------->
<banner [imageSrc]="'../assets/images/c1.jpg'" >
    {{'ContactUs' | translate}}
</banner>


<!--Contact Us Form-->
<section class="Contact-us">
    <div class="container">
        <div class="row">
            <div class="col"> 
                 <!-- الاسم-->
                  <div class="input-form">
                    <label class="input-form__label" for="name-arabic">
                        {{'contactUs.name' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="name-arabic" placeholder="{{'contactUs.fullName' | translate}}">
                </div> 

                <!--البريد الالكترونى-->
                <div class="input-form">
                    <label class="input-form__label" for="contact-email">
                       {{'contactUs.email' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="contact-email" placeholder="{{'contactUs.email' | translate}}">
                </div> 

                <!--عنوان الموضوع-->
               <div class="input-form">
                    <label class="input-form__label" for="contact-email">
                       {{'contactUs.subject'|translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="contact-email" placeholder="{{'contactUs.subject'|translate}}">
                </div> 

                <!--الرسالة-->
                 <div class="input-form">
                    <label class="input-form__label" for="contact-email">
                        {{'contactUs.message' | translate}}
                    </label>
                    <textarea type="text" class="input-form__txt" id="contact-email" placeholder="{{'contactUs.message' | translate}}"></textarea>
                </div> 

             </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="submit-btn-container">
                    <button class="btn--submit btn--trasnparent btn-txt--green btn--lit-rounded p-btn" >{{'contactUs.send' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section> 


</layout>