.btn{
    &--rounded{
        border-radius: 2rem;
    }
    &--lit-rounded{
        border-radius: .5rem;
    }
    &-fill{
        &--white{
            background-color: $white;
        }
    }
    &-txt{
        &--black{
            color: $black;
        }
        &--green{
            color: $primary-color;
        }
        &--white{
            color: $white !important;
        }
    }

    &--trasnparent{
        background-color: transparent;
       

    }
    &--main{
        padding-left:2.5rem;
        padding-right: 2.5rem;
        padding-top:0.938rem;
        padding-bottom:0.938rem;
        font-size: 1.25rem;
        font-family: $font-family-base;
        font-weight: bold;
        text-decoration: none;
        transition: .5s;
        line-height: 1;
        border:3px solid $white;
        cursor: pointer;

    }
    &--submit{
        padding-left:2.5rem;
        padding-right: 2.5rem;
        padding-top:0.938rem;
        padding-bottom:0.938rem;
        font-size: 1.25rem;
        font-family: $font-family-base;
        font-weight: bold;
        text-decoration: none;
        transition: .5s;
        line-height: 1;
        border:3px solid $primary-color;
        position: relative;
        cursor: pointer;
        transition: .2s;
        overflow: hidden;
        // &:hover{
        //     color: $white;
        //     background-color: $primary-color;
        // }
    }
    &--search{
        padding-left:2.5rem;
        padding-right: 2.5rem;
        padding-top:0.938rem;
        padding-bottom:0.938rem;
        font-size: 1.25rem;
        font-family: $font-family-base;
        font-weight: bold;
        text-decoration: none;
        transition: .5s;
        line-height: 1;
        cursor: pointer;
        transition: .2s;
        position: relative;
        overflow: hidden;
        // &:hover{
        //     color: $white;
        //     background-color: $primary-color;
        //     border:2px solid $primary-color !important;
        // }
    }

    &-border{
        &--black{
        border:2px solid $black;
    }
}
}

.p-btn{

    &:before {
        content: "";
        display: block;
        background: $primary-color;
        position: absolute;
        width:200% ;
        height: 500%;
        transform: translate(-120%, -50%) translateZ(0);
        z-index: -1;
        border-radius: 100%;
        transition: 0.4s cubic-bezier(0.4, 0, 1, 1);

    }
    &:hover{
        border: solid  $primary-color !important;
        color: white;
        
        &:before {
        transform: translate(33%, -34%) translateZ(0);
        @if($lang==en){
        transform: translate(-33%, -34%) translateZ(0);

        }
       
    }
}
}