.products-catalog-container{
    width: 49.438rem;
    height: 36.75rem;
    background-color: $light-purple;
    border-radius: .5rem;
    margin-#{$default-float}: 1.125rem;
    padding: .9rem;

    .product-catalog-header-container{
        display: flex;
        justify-content: center;
    }
    .product-catalog-header__txt{
        color:$header-color;
        font-family: $font-family-base;
        font-size: 1.5rem;
        line-height: 1.188rem;
        font-weight: bold;
    }






}