
.Ca-slide-block {
    background-color: transparent;
    height:20rem;
    overflow: hidden;
  }
  .catalog-swiper-container{
      height:100%;
      position: relative;
  }
  .Ca-slide_item {
   // padding: 90px 0;
    width:15.313rem; ;
    height:19rem ;

    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
  }
  .Ca-slide-item-image-container{
      height:16.961rem ;
    //   width: 15.313rem;
     border-radius: .5rem;
     overflow: hidden;
      margin-top: 1rem;
  }
  .Ca-slide_img {
    display: block;
    width: 100%;
    max-width: 317px;
    margin: 0 auto;
    height: 100%;
    opacity: 0.5;
  
    -webkit-box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 20px 172px 0 rgba(0, 0, 0, 0.05);
  
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  
  .Ca-slide_list.swiper-wrapper{
    margin-bottom: 0;
    margin-#{$default-float}: -2rem;
    @if($lang==en){
      margin-right: -2.5rem;
    }
}

  
  .Ca-slide-block .swiper-container {
    padding-top: 13px;
  }
  .Ca-slide-block .swiper-slide {

    padding-top: 0px;
    padding-bottom: 0;
    z-index: 1;
  
    will-change: transform;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Ca-slide-block .swiper-slide-active {
    opacity: 1;
    height:19rem;
    z-index: 2;
    margin-#{$default-float}: -1.5rem;
    will-change: transform;
  
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    -ms-transform: scale(1.001);
    -o-transform: scale(1.001);
    transform: scale(1.001);
  
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;

    .Ca-slide-item-image-container{
        height: 100%;
        margin-top: 0;
        width: 15.313rem;
      
    }
  }
  .Ca-slide-block .swiper-slide-active .Ca-slide_img {
    opacity: 1;
  
    will-change: transform;
  
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  .swiper-slide-active .Ca-slide_info {
    opacity: 1;
  
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
  }
  .swiper-btns-wrapperr{
    position: absolute;
    #{$opposite-float}: 0;
    top: -6%;
    // @if($lang==en){
    // top:-9%
    // }
  }

  .Ca-swiper-button-next{
    margin-#{$opposite-float}: 43.5rem;
    @if($lang==en){
    left: -3rem;
    }

  }
  .Ca-swiper-button-prev{
    @if($lang==en){
      left: -48.5rem;
      }
  }
  .Ca-swiper-button-next,.Ca-swiper-button-prev{
      background-color: black !important;
      border-radius: 50% !important;
      padding: 1rem !important;
      &:after{
        color: white !important;
        font-size: 1rem !important;
      }
  }

//   @media (max-width: 1220px) {
//     .Ca-slide-info_title {
//       width: 130px;
//     }
//   }
  li{
      list-style: none;
  }
//   @media (max-width: 960px) {
//     .Ca-slide-block .swiper-container {
//       max-width: 960px;
//       width: 100%;
//       margin-top: -22px;
//       padding-top: 0;
//     }
//     .Ca-slide-info_title {
//       width: 115px;
//     }
//     .Ca-slide-info_rate {
//       height: 37px;
//       width: 37px;
//     }
//   }
  
//   @media (max-width: 600px) {
//     .Ca-slide-info_title {
//       width: 95px;
  
//       font-size: 8px;
//     }
//     .Ca-slide-info_category {
//       font-size: 6px;
//     }
//     .Ca-slide-info_route {
//       font-size: 6px;
//     }
//     .Ca-slide-info_img {
//       width: 7px;
//       height: 7px;
//     }
//     .Ca-slide-info_strong {
//       font-size: 14px;
//     }
//     .Ca-slide-info_comments {
//       letter-spacing: 0;
//       font-size: 5px;
//     }
//   }
  
//   @media (max-width: 560px) {
//     .Ca-slide-info_title {
//       width: 130px;
//     }
//   }
  
//   @media (max-width: 470px) {
//     .Ca-slide-info_title {
//       width: 115px;
//     }
//   }
  
//   @media (max-width: 400px) {
//     .Ca-slide_img {
//       width: 70%;
//     }
//     .Ca-slide_info {
//       width: 70%;
//     }
//     .Ca-slide-info_title {
//       width: 130px;
//     }
//     .Ca-slide-info_img {
//       width: 10px;
//     }
  
//     .Ca-slide-block .swiper-slide {
//       padding-left: 0;
//       padding-right: 0;
//     }
//   }