.search-results-container{
    width: 45.75rem;
    
}
.search-result-card{
    width: 100%;
    display: flex;
    background-color: $light-grey-bg;
    
    &--sm{
        height: 13.813rem;
        padding: 0.75rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        .search-result-card-image-container{
            height:  12.188rem;
            width:11.375rem;
            margin-#{$opposite-float}: 0.75rem;
            border-radius: 0.25rem;
            overflow: hidden;
            .search-result-card__img{
                width: 100%;
                height: 100%;
            }
        }
        .search-result-card-info{
            width: 32.125rem;
        }
        .search-result-card__header{
            color: $light-red;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-family: $font-family-base;
        }
        .search-result-card-details__txt{
            color:$dark-grey-txt;
            font-size:0.875rem;
            line-height: 1.5rem;
            font-family: $font-family-base;

        }
        .search-card-contacts-list{
            display: flex;
            margin: 0;
            padding-#{$default-float}:0;
        }
        .search-card-contact{
            font-size: .7rem;
            font-family: $font-family-base;
            line-height: 0.938rem;
           margin-#{$opposite-float}: .1rem;
            &:before{
                content: ' |';
                font-size: .7rem;
                font-family: $font-family-base;
                line-height: 0.938rem;
            }
            &:first-child::before
            {
              content: '';
            }
        }
        .search-result-card-actions-list{
            margin: 0;
            display: flex;
            justify-content: center;
            padding-top: 1.188rem;
        }
       .search-result-card-action{
       
       }
       .action-btn{
           border: 1px solid $black;
           padding-left: 1.063rem;
           padding-right: 1.063rem;
           margin-#{$opposite-float}:1rem ;
           cursor: pointer;
           transition: .2s;
           font-size: 0.75rem;
           line-height: 0.938rem;
           font-family: $font-family-base;
           cursor: pointer;
   
           &:hover{
               background-color: $primary-color;
               color: $white;
           }
       }
    }

    &--md{
        height: 20.896rem;
        padding: 0.75rem;
        border-radius: .5rem;
        width: 102%;
        .search-result-card-image-container{
            height: 18.75rem;
            width:18.75rem;
            margin-#{$opposite-float}: 1rem;
            border-radius: 0.25rem;
            overflow: hidden;
            .search-result-card__img{
                width: 100%;
                height: 100%;
            }
        }
         .search-result-card-info{
            width: 49.75rem;
        }
        .search-result-card__header{
            color: $header-color;
            font-size: 2rem;
            line-height: 2.438rem;
            font-family: $font-family-base;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
        .search-result-card-details__txt{
            color:$dark-grey-txt;
            font-size:1rem;
            line-height: 1.5rem;
            font-family: $font-family-base;
            margin-bottom: .8rem;

        }
        .search-result-card-contacts-container{
            width: 29.688rem;
        }
        .search-card-contacts-list{
            padding: 0;
            display: flex;
            margin: 0;
            flex-wrap: wrap;
            height: 3.938rem;
            width: 29.688rem;
            flex-direction: column;
           
        }
        .search-card-contact{
            flex: 1;
        }
        .social-container{
            display: flex;
        .address-header{
            margin-#{$opposite-float}:2.5rem ;
            padding-top: .4rem;
        }
        }
        .social-icon-list{
            list-style: none;
            display: flex;
            padding: 0;
        }
        .social-icon{
            margin-#{$default-float}:1rem ;
        }
        .social-action{
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
    .search-card-contact,.search-result-card-action{
        list-style: none;
        
    }
    .contact-icon {
        margin-right: .3rem;
        margin-left: .3rem;
    
    }
    .address-container{
        margin-bottom: 1rem;
        
        display: flex;
    }
    .address{
        &-header{
            color: $primary-color;
            font-family: $font-family-base;
            line-height: 1.188rem;
            font-size: 1rem;
            font-weight: bold;
        }
        &-details{
            color: $dark-grey-txt;
            font-family: $font-family-base;
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }
}