.input-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    &__label{
        font-size: 1.75rem;
        font-family: $font-family-base;

    }
    &__txt,&__select{
        border: 2px solid $light-grey;
        border-radius: 5px;
        padding: .5rem;
        margin-bottom: 0.5rem;
        &:focus{
            border-color: $black;
            outline: none;
            &+.select-arrow::before{
                color: $black;
            }
        }
    }
    &__select{
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        position: relative;
       
    }

    .select__label{
        position: relative;
    // &::after{
    //     display: block;
    //     position: absolute;
    //     content:'\e905';
    //     width: 1rem;
    //     height: 1rem;
    //     left: 1rem;
    //     transform: rotate(45deg);
    //     color: $light-grey;
    //     z-index: 3;
    //  }
    }
    .select-arrow{
        position: absolute;
        bottom: 0;
        #{$opposite-float}: 0;
        top:2.5rem;
        &::before{
            color: $light-grey;
        }

    }
}