
.industries-slider{
.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}



.swiper-card{
    display: flex;
    flex-direction: column;
    width: 15.563rem;
    background-color:$secondary-color ;
    height: 15.625rem;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid $black;
    overflow: hidden;
    transition: .3s;
    &-image-container{
        border-radius: 0px 0px 10px 10px;
        overflow: hidden;
        background-color: $white;
        height:  12.75rem;
        padding: 1rem;
    }
    &__img{
        width: 100%;
        height: 100%;
    }
    &-details-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: 1;
    }
    &-details__txt{
        color: $white;
        font-size:1.25rem ;
        font-family: $font-family-base;
        line-height: 1.5rem;
        margin-bottom: 0;
    }
    &:hover{
        -webkit-box-shadow: -2px 3px 11px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 3px 11px -2px rgba(0,0,0,0.75);
        box-shadow: -2px 3px 11px -2px rgba(0,0,0,0.75);
    }

}
}
.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white{
    top: 43rem;
    background-color: $white;
    border-radius: 10px;
    width: 1.875rem;
    height: 1.875rem;
    &:after{
        font-size: 0.875rem;
        color: #000;
        font-weight: bold;
    }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    #{$opposite-float}: 3rem;
    #{$default-float}: auto;
}
@if($lang==en){
    .swiper-button-prev.muilt-row-slider-prev{
    #{$default-float}: 85%;

    }
}

.muilt-row-slider-next,.muilt-row-slider-prev {
    transition: .3s;
    &:hover{
        border-radius: 50%;
    }
}
//*************************Responsive TABLET************************//



@media (max-width:1200px) {
    .industrial-sector-details{
width:100vw !important;
        .swiper-button-prev,.swiper-button-next{
           top: 26rem;

        }
    }


    
}

@media (max-width:800px) {
    .industrial-sector-details{

        width: 100vw !important;
    }
    @if($lang==en){
        .swiper-button-prev.muilt-row-slider-prev{
        #{$default-float}: 69%;
    
        }
    }
    
}

