.bs-big-carousel{
    //height: 48rem;
    height: 100%;
    margin-bottom: 2.063rem;
    position: relative;
    .big-carousel-image{
        width: 100%;
    }
    .centered-caption{
        top:14.4rem;
        
    }
    .caption-header{
        font-size: 3.125rem;
        line-height: 3.875rem;
        font-family: $font-family-bold;
    }
    .caption-pagraph{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-family: $font-family-light;
        
    }
    .create-factory-btn{
        position: relative;
        top: 3.813rem;
        text-decoration: none;
        overflow: hidden;
        // &:hover{
        //     // border: 3px solid $white;
        //     // color:black;
        //     // background-color: $white;
        
        // }
        &:before {
            content: "";
            display: block;
            background: $primary-color;
            position: absolute;
            width:200% ;
            height: 500%;
            transform: translate(-120%, -50%) translateZ(0);
            z-index: -1;
            border-radius: 100%;
            transition: 0.4s cubic-bezier(0.4, 0, 1, 1);

        }
        &:hover{
            border: solid  $primary-color !important;
            &:before {
            transform: translate(16%, -34%) translateZ(0);
            @if($lang==en){
                transform: translate(-33%, -34%) translateZ(0);
        
                }
        }
    }
    }
    .carousel-indicators{
        bottom: 0;
        #{$opposite-float}:2rem;
        li{
        border-radius: 3px;
        width: 4.875rem;
        height: 7px;
        bottom: 6.375rem;
    }
}
}

//*****************RESPONSIVE*******************//


@media (max-width:950px) {
    .bs-big-carousel .centered-caption {
        top: 10rem;
    }
    .bs-big-carousel .caption-header {
        font-size: 1.125rem;
        line-height: 1.875rem;
    }
    .bs-big-carousel .caption-pagraph {
        font-size: 1rem;
        line-height: 1rem;
    }
    .bs-big-carousel .create-factory-btn {
        top: 0.4rem;
        padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    }
    .bs-big-carousel .carousel-indicators{
        display: none;
    }
}

/********************RESPONSIVE Mobile *************************/
@media (max-width:500px){
    .bs-big-carousel .centered-caption {
        top: 3rem;
    }
    .bs-big-carousel .caption-header {
        font-size: .9rem;
        line-height: 1rem;
    }

    .bs-big-carousel .caption-pagraph {
        font-size: .7rem;
        line-height: 1rem;
        margin-bottom: 0;
    }
    .bs-big-carousel .create-factory-btn {
        top: 0.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: .5rem;
        border: 1px solid;
    }

    
}