
.page-banner{
    overflow: hidden;
    margin-bottom: 1.344rem;
        &-container{
        height:26.217rem;
        border-bottom-right-radius: 9rem;
        border-bottom-left-radius: 7rem;
        transform: rotate(-4deg);
        background-color: whitesmoke;
        position: relative;
        top: -5rem;
        width: 102vw;
        overflow: hidden;
        #{$opposite-float}:1rem
        }
        &-content-container{
            width: 100%;
            height: 120%;
            transform: rotate(4deg);
            display: flex;
        }
        &__image{
            width: 100%;
            height: 100%;
        }
        &__header{
            position: absolute;
            top: 50%;
            color: $white;
            right: 50%;
            transform: translateX(50%);
            font-size: 3.5rem;
            font-family: $font-family-base;

        }
}
@media (max-width:1200px) {
    .page-banner-container{
        // height: 51.313rem;
        width: 105vw;
    }

    .page-banner__header{
        font-size: 2.5rem;
    }
}
