footer{
    padding-top:4.125rem;
    margin-top: 1rem;
    position: relative;
    .footer--bg{
    display: block;
    width: 100%;
    top: 0;
    bottom: -10%;
    background-repeat: no-repeat !important;
    background: url('../src/assets/images/footer.svg');
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: 102%;
    background-position-x: -1rem;
    }
    .footer-logo-container{
        display: flex;
        justify-content: center;
        width: 19.365rem;
        margin: 0 auto;
        .footer-logo{
            width: 100%;
        }
    }

    .site-map-list{
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding-top:1.688rem;
        .site-map-tab{
            margin-#{$opposite-float}:  2.5rem;
            transition: .3s;
            a{
                font-size: 1.25rem;
                line-height: 1.5rem;
                font-family: $font-family-light;
                color:$link-color;
                text-decoration: none;

                
            }
            &:hover{
                a{
                    color: $primary-color;
                }
            }
        }
    }

    .contacts-list{
        display: flex;
        justify-content: center;
        list-style-type: none;
        
        .contact-link{
            margin-#{$opposite-float}: 4.125rem;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-family: $font-family-light;
            color:$link-color;
            text-decoration: none;
            .contact-icon{
                margin-#{$opposite-float}: 0.625rem;
                font-size: 1rem;;

            }
        }
    }

    .socialMedia-list{ 
        display: flex;
        justify-content: center;
        list-style-type: none;
        .socialMedia-icon{
            margin-#{$opposite-float}: 3.906rem;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-family: $font-family-light;
            color:$link-color;
            text-decoration: none;
            span:before{
                color: #5f5f60;
            }
        }
    
    }
    .copy-rights-container{
        display: flex;
        justify-content: center;
        
        .copy-rihts-txt{
            font-size: 1rem;
            
            font-family: $font-family-light;
            color:$link-color;
            font-weight: bold;
        }
    }

}

@media (max-width:1200px) {
    footer{
        .footer--bg {
            background-size: 110rem;
        }
        .site-map-list .site-map-tab a {
            font-size: 1rem;
        }
        .contacts-list .contact-link {
            margin-#{$opposite-float}: 1rem;
            font-size: 1rem;
        }
    }
    .footer-swiper-container{
        width: 100vw !important;
    }

}

@media (max-width:500px){
.site-map-list,.contacts-list{
    flex-direction: column;
    text-align: center;
}
}