
  <!---------------------------------------------- Pages Shared Bannrr Details----------------------->
<div class="page-banner">
    <div class="page-banner-container">
        <div class="page-banner-content-container">
            <img class="page-banner__image" src="../assets/images/c1.jpg">
            <h2 class="page-banner__header">عن البوابة</h2>
        </div>
    </div>
</div>

<!--Create factory form-->
 <section class="Create-Factory">
    <div class="container">
        <div class="row">
            <div class="col"> 

                <!-- اسم الشركة / المصنع-->
                 <div class="input-form">
                    <label class="input-form__label" for="Factoryname-arabic">
                        اسم الشركة / المصنع
                    </label>
                    <input type="text" class="input-form__txt" id="Factoryname-arabic" placeholder="اسم الشركة / المصنع باللغة العربية">
                    <input type="text" class="input-form__txt" id="Factoryname-english" placeholder="اسم الشركة / المصنع باللغة الانجليزية">

                </div> 

                <!--عن الشركة / المصنع-->
                 <div class="input-form">
                    <label class="input-form__label" for="about-Factory-arabic">
                        عن الشركة / المصنع
                    </label>
                    <textarea type="text" class="input-form__txt" id="about-Factory-arabic" placeholder="نبذة عن الشركة / المصنع باللغة العربية"></textarea>
                    <textarea type="text" class="input-form__txt" id="about-Factory-english" placeholder="نبذة عن الشركة / المصنع باللغة الانجليزية"></textarea>
                </div> 

                <!--نوع القطاع-->
                 <div class="input-form position-relative">
                    <label class="input-form__label select__label" for="Factory-sector">
                        نوع القطاع
                    </label>
                    <select  class="input-form__select" id="Factory-sector" >
                        <option value="قطاع صناعي">قطاع صناعي</option>
                        <option value="قطاع صناعي">قطاع صناعي</option>
                        
                    </select>
                    <span class="icon-Icon-arrow rotate-down black-colored-txt drop-down-arrow select-arrow"></span>
                </div>

                <!--  العنوان-->
                 <div class="input-form">
                    <label class="input-form__label" for="Factory-address-arabic">
                        العنوان
                    </label>
                    <input type="text" class="input-form__txt" id="Factory-address-arabic" placeholder="العنوان باللغة العربية">
                    <input type="text" class="input-form__txt" id="Factory-address-english" placeholder="العنوان باللغة الانجليزية">

                </div> 

                <!--الهاتف-->
                 <div class="input-form">
                    <label class="input-form__label" for="phone-number">
                        العنوان
                    </label>
                    <input type="text" class="input-form__txt" id="phone-number" placeholder="رقم الهاتف">

                </div> 

                <!--فاكس-->
                 <div class="input-form">
                    <label class="input-form__label" for="fax-number">
                        فاكس
                    </label>
                    <input type="text" class="input-form__txt" id="fax-number" placeholder="رقم الفاكس">
                </div> 

                <!--الموقع الالكترونى-->
                 <div class="input-form">
                    <label class="input-form__label" for="website">
                        الموقع الالكترونى
                    </label>
                    <input type="text" class="input-form__txt" id="website" placeholder="الموقع الالكترونى">
                </div> 

                <!--البريد الالكترونى-->
                 <div class="input-form">
                    <label class="input-form__label" for="email">
                        البريد الالكترونى
                    </label>
                    <input type="text" class="input-form__txt" id="email" placeholder="البريد الالكترونى">
                </div> 

                <!--اسم مسئول التواصل-->
                 <div class="input-form">
                    <label class="input-form__label" for="communication-person-name-arabic">
                        اسم مسئول التواصل
                    </label>
                    <input type="text" class="input-form__txt" id="communication-person-name-arabic" placeholder="اسم مسئول التواصل باللغة العربية">
                    <input type="text" class="input-form__txt" id="communication-person-name-english" placeholder="اسم مسئول التواصل باللغة الانجليزية">
                </div> 

                <!--المسمى الوظيفى-->
                 <div class="input-form">
                    <label class="input-form__label" for="job-title-arabic">
                        اسم مسئول التواصل
                    </label>
                    <input type="text" class="input-form__txt" id="job-title-arabic" placeholder="المسمى الوظيفى باللغة العربية">
                    <input type="text" class="input-form__txt" id="job-title-english" placeholder="المسمى الوظيفى باللغة الانجليزية">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="submit-btn-container">
                    <button class="btn--submit btn--trasnparent btn-txt--green btn--lit-rounded p-btn" >اضف مصنعك</button>
                </div>
            </div>
        </div>
    </div>
</section> 


<!--Footer-->
<footer>
   
    <!--fixed backgroud-->
    <div class="footer--bg"></div>
   <!--footer logo-->
    <div class="footer-logo-container ">
        <img src="../assets/images/Footer-logo.png" class="footer-logo">
    </div>
    <!--Footer Site map -->
    <div class="site-map-container ">
        <ul class="site-map-list">
            <li class="site-map-tab"><a href="#">الصفحة الرئيسية</a></li>
            <li class="site-map-tab"><a href="#">عن البوابة </a></li>
            <li class="site-map-tab"><a href="#">الاقسام الصناعية</a></li>
            <li class="site-map-tab"><a href="#">الرعاة المشاركون</a></li>
            <li class="site-map-tab"><a href="#">اضف مصنعك</a></li>
            <li class="site-map-tab"><a href="#">اتصل بنا </a></li>
        </ul>
    </div>
    <!--Footer Contact info-->
    <div class="contacts-container">
        <ul class="contacts-list">
            <li class="contact-link">974-55754954<span class="contact-icon icon-Icon-whatsapp"> </span>+</li>
            <li class="contact-link">974-55754954<span class="contact-icon icon-Icon-fax"></span>+ </li>
            <li class="contact-link">974-55754954<span class="contact-icon icon-Icon-phone-alt"></span>+</li>
            <li class="contact-link">info@madeinqatar.qa<span class="contact-icon icon-Icon-env"></span></li>
        </ul>
    </div>
    <!--social-media icons-->
    <div class="socialMedia-container">
        <ul class="socialMedia-list">
            <li class="socialMedia-icon"><span class="icon-Icon-instagram"></span></li>
            <li class="socialMedia-icon"><span class="icon-Icon-facebook"></span></li>
            <li class="socialMedia-icon"><span class="icon-Icon-twitter"></span></li>
            <li class="socialMedia-icon"><span class="icon-Icon-youtube"></span></li>
        </ul>
    </div>
    <!--copyRight-->
    <div class="copy-rights-container">
        <span class="copy-rihts-txt">© جميع الحقوق محفوظة 2019 </span>
    </div>
</footer>