<layout [FooterSilder]="false">

  <!---------------------------------------------- Pages Shared Bannrr Details----------------------->
<div class="page-banner">
    <div class="page-banner-container">
        <div class="page-banner-content-container">
            <img class="page-banner__image" src="../assets/images/c1.jpg">
            <h2 class="page-banner__header">{{'AddFactory'|translate}}</h2>
        </div>
    </div>
</div>

<!--Create factory form-->
 <section class="Create-Factory">
    <div class="container">
        <div class="row">
            <div class="col"> 

                <!-- اسم الشركة / المصنع-->
                 <div class="input-form">
                    <label class="input-form__label" for="Factoryname-arabic">
                       {{'factory.nameHeader' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="Factoryname-arabic" placeholder="{{'factory.arabicName' | translate}}">
                    <input type="text" class="input-form__txt" id="Factoryname-english" placeholder="{{'factory.englishName' | translate}}">

                </div> 

                <!--عن الشركة / المصنع-->
                 <div class="input-form">
                    <label class="input-form__label" for="about-Factory-arabic">
                       {{'factory.aboutHeader' | translate}}
                    </label>
                    <textarea type="text" class="input-form__txt" id="about-Factory-arabic" placeholder="{{'factory.aboutArabic' | translate}}"></textarea>
                    <textarea type="text" class="input-form__txt" id="about-Factory-english" placeholder="{{'factory.aboutEnglish'| translate}}"></textarea>
                </div> 

                <!--نوع القطاع-->
                 <div class="input-form position-relative">
                    <label class="input-form__label select__label" for="Factory-sector">
                        {{'factory.sectorTypeHeader' | translate}}
                    </label>
                    <select  class="input-form__select" id="Factory-sector" >
                        <option value="قطاع صناعي">قطاع صناعي</option>
                        <option value="قطاع صناعي">قطاع صناعي</option>
                        
                    </select>
                    <span class="icon-Icon-arrow rotate-down black-colored-txt drop-down-arrow select-arrow"></span>
                </div>

                <!--  العنوان-->
                 <div class="input-form">
                    <label class="input-form__label" for="Factory-address-arabic">
                       {{'factory.address' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="Factory-address-arabic" placeholder="{{'factory.arabicAddress'|translate}}">
                    <input type="text" class="input-form__txt" id="Factory-address-english" placeholder="{{'factory.englishAddress'|translate}}">

                </div> 

                <!--الهاتف-->
                 <div class="input-form">
                    <label class="input-form__label" for="phone-number">
                       {{'factory.phone' |translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="phone-number" placeholder="{{'factory.phoneNumber' | translate}}">

                </div> 

                <!--فاكس-->
                 <div class="input-form">
                    <label class="input-form__label" for="fax-number">
                        {{'factory.fax' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="fax-number" placeholder="{{'factory.faxNumber' | translate}}">
                </div> 

                <!--الموقع الالكترونى-->
                 <div class="input-form">
                    <label class="input-form__label" for="website">
                        {{'factory.webSite' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="website" placeholder="{{'factory.webSite' | translate}}">
                </div> 

                <!--البريد الالكترونى-->
                 <div class="input-form">
                    <label class="input-form__label" for="email">
                        {{'factory.emailAddress' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="email" placeholder="{{'factory.emailAddress' | translate}}">
                </div> 

                <!--اسم مسئول التواصل-->
                 <div class="input-form">
                    <label class="input-form__label" for="communication-person-name-arabic">
                        {{'factory.contactPersonHeader'| translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="communication-person-name-arabic" placeholder="{{'factory.contactPersonNameArabic'|translate}}">
                    <input type="text" class="input-form__txt" id="communication-person-name-english" placeholder="{{'factory.contactPersonNameEnglish' |translate}}">
                </div> 

                <!--المسمى الوظيفى-->
                 <div class="input-form">
                    <label class="input-form__label" for="job-title-arabic">
                        {{'factory.jobTitle' | translate}}
                    </label>
                    <input type="text" class="input-form__txt" id="job-title-arabic" placeholder="{{'factory.arabicJobTitle' | translate}}">
                    <input type="text" class="input-form__txt" id="job-title-english" placeholder="{{'factory.englishJobTitle' | translate}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="submit-btn-container">
                    <button class="btn--submit btn--trasnparent btn-txt--green btn--lit-rounded p-btn" >{{'AddFactory'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section> 


</layout>