
  <
  <div class="swiper-container">
        <div class="swiper-wrapper">
           
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
        <div class="swiper-slide"><img src="http://placehold.it/240x240" class="img-responsive"></div>
              
        </div>

        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
